<!doctype html>
{% load compress %}
<!--[if lt IE 7]> <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{% endblock %}</title>

    {% compress css %}
		<link rel='stylesheet' type='text/less' href='/static/core/less/bootstrap/bootstrap.less'>
    {% endcompress %}

    {% compress css %}
        {% comment %}
            Per-page CSS is compressed separately so that the global stuff doesn't get re-downloaded each time
        {% endcomment %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

</head>
<body>
    {% block content %}{% endblock %}

    {% compress js %}
        <script src="/static/core/js/jquery-1.9.1.js"></script>
		<script src="/static/core/bootstrap/js/alert.js"></script>
		<script src="/static/core/bootstrap/js/button.js"></script>
		<script src="/static/core/bootstrap/js/carousel.js"></script>
		<script src="/static/core/bootstrap/js/collapse.js"></script>
		<script src="/static/core/bootstrap/js/dropdown.js"></script>
		<script src="/static/core/bootstrap/js/modal.js"></script>
		<script src="/static/core/bootstrap/js/scrollspy.js"></script>
		<script src="/static/core/bootstrap/js/tab.js"></script>
		<script src="/static/core/bootstrap/js/tooltip.js"></script>
		<script src="/static/core/bootstrap/js/popover.js"></script>
		<script src="/static/core/bootstrap/js/affix.js"></script>
    {% endcompress %}

    {% compress js %}
        {% comment %}
            Per-page JS is compressed separately so that the global stuff doesn't get re-downloaded each time
        {% endcomment %}
        {% block extra_js %}{% endblock %}
    {% endcompress %}
</body>
</html>
